<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 fst-italic fw-bold text-primary">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="form-group me-3">
            <input type="datetime-local" class="form-control form-control-sm" >
          </div>
          <div class="form-group me-3">
            <input type="datetime-local" class="form-control form-control-sm" >
          </div>
          <div class="form-group me-5">
            <select name="" id="" class="form-select form-select-sm">
              <option value="" selected>filter by polling station</option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
          <div class="btn-group ">
            <button type="button" class="btn btn-sm btn-outline-success">Share</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h6 class="m-b-20">Total Votes</h6>
              <h2 class="text-right"><i class="fa-solid fa-check-to-slot pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">Total Candidates</h6>
              <h2 class="text-right"><i class="fa-solid fa-hand-fist pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-yellow order-card">
            <div class="card-block">
              <h6 class="m-b-20">Registered Tables</h6>
              <h2 class="text-right"><i class="fa-solid fa-person-booth pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Congress Total</h6>
              <h2 class="text-right"><i class="fa-solid fa-users-viewfinder pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Candidate</th>
                        <th>Political Party</th>
                        <th>Polling Station</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Number Table</th>
                        <th>Registered Documents</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Candidate</th>
                        <th>Political Party</th>
                        <th>Polling Station</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>              
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Political Party</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>            
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Political Party</th>
                        <th>Total Votes</th>
                        <th>Percent</th>
                      </tr>
                    </thead>
                    <tbody>
  
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
  </div>
</div>