<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 fst-italic fw-bold text-primary">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="form-group me-3">
            <input type="datetime-local" class="form-control form-control-sm" >
          </div>
          <div class="form-group me-3">
            <input type="datetime-local" class="form-control form-control-sm" >
          </div>
          <div class="form-group me-5">
            <select name="" id="" class="form-select form-select-sm" (change)="filterBytable($event)">
              <option value="" selected>filter by polling station</option>
              <option [value]="votingTable._id" *ngFor="let votingTable of votingTables">{{votingTable.number_table}}</option>
            </select>
          </div>
          <div class="btn-group ">
            <button type="button" class="btn btn-sm btn-outline-success">Share</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h6 class="m-b-20">Total Votes</h6>
              <h2 class="text-right"><i class="fa-solid fa-check-to-slot pe-2"></i><span>{{sumAllVotes}}</span></h2>
              <p class="m-b-0">The {{registeredDocuments}} people authorized to vote</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">Total Candidates</h6>
              <h2 class="text-right"><i class="fa-solid fa-hand-fist pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-yellow order-card">
            <div class="card-block">
              <h6 class="m-b-20">Registered Tables</h6>
              <h2 class="text-right"><i class="fa-solid fa-person-booth pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Congress Total</h6>
              <h2 class="text-right"><i class="fa-solid fa-users-viewfinder pe-2"></i><span>486</span></h2>
              <p class="m-b-0">Completed Orders<span> 351</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-7">
            <div class="card">
              <div class="card-header border-bottom-0 text-primary fst-italic">
                Candidate Total Votes
              </div>
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Candidate</th>
                        <th>Political Party</th>
                        <th>Polling Station</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="votesCandidates.length > 0">
                        <tr *ngFor="let item of votesCandidates">
                          <td>{{item.name_candidate}} {{item.lastName_candidate}}</td>
                          <td>{{item.name_politicalParty}}</td>
                          <td>{{item.numer_table}}</td>
                          <td>{{item.total_votes}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-header border-bottom-0 text-primary fst-italic">
                Total Votes Table
              </div>
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Number Table</th>
                        <th>Registered Documents</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="totalVotesTable.length > 0">
                        <tr *ngFor="let item of totalVotesTable">
                          <td>{{item.numer_table}}</td>
                          <td>{{item.registered_documents}}</td>
                          <td>{{item.total_votes}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card">
              <div class="card-header border-bottom-0 text-primary fst-italic">
                Voting List For Each Candidate
              </div>
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Candidate</th>
                        <th>Political Party</th>
                        <th>Polling Station</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="voteList.length > 0">
                        <tr *ngFor="let item of voteList">
                          <td>{{item.name_candidate}} {{item.lastName_candidate}}</td>
                          <td>{{item.name_politicalParty}}</td>
                          <td>{{item.numer_table}}</td>
                          <td>{{item.total_votes}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>              
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-header border-bottom-0 text-primary fst-italic">
                Total Votes Political Party
              </div>
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Political Party</th>
                        <th>Total Votes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="totalVotesPoliticalParty.length > 0">
                        <tr *ngFor="let item of totalVotesPoliticalParty">
                          <td>{{item.total_votes}}</td>
                          <td>{{item.name_politicalParty}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>            
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header border-bottom-0 text-primary fst-italic">
                Congress Distribution
              </div>
              <div class="card-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name Political Party</th>
                        <th>Total Votes</th>
                        <th>Percent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="percentageCongress.length > 0">
                        <tr *ngFor="let item of percentageCongress">
                          <td>{{item.name}}</td>
                          <td>{{item.total_votes}}</td>
                          <td>{{item.percent}} %</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>   
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
  </div>
</div>